<!DOCTYPE html>
<html>
      
<head>
    <title>
        Choose Audio Speed
    </title>
      
    <!-- Style to create button -->
    <style>
        button
        {
            font-size: 40px;
            padding: 10px;
            border-radius: 10px;
            margin: 20px;
        }
        #container
        {
            text-align: center;
        }
    </style>
</head>
  
<body>
    <h1>Select Audio Speed</h1>
      
    <!-- Create a form then add button
        inside the form -->
    <form action= "/spedup">
        <div id="container">
            <button class = "button" type="submit">
                Sped Up
            </button>
        </div>
    </form>


    <form action= "/normal">
        <div id="container">
            <button class = "button" type="submit">
                Normal
            </button>
        </div>
    </form>


    <form action= "/sloweddown">
        <div id="container">
            <button class = "button" type="submit">
                Slowed Down
            </button>
        </div>
    </form>

    <div id="container">
        <a href="/">
            <button>Return to home page</button>
        </a>
    </div>
</body>
  
</html>      